<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- css and bootstrap links -->
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/style.css">
        <link rel="stylesheet" href="../static/files/css/lightslider.css">
        <!-- supporting js files -->
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <script src="../static/files/js/jquery.js"></script>
        <script src="../static/files/js/lightslider.js"></script>
        <script src="../static/files/js/script.js"></script>
    <title>Home</title>
</head>
<body style="background-color:azure;color:ghostwhite" class="m-auto">
{%include 'navbar.html'%}

<div class="card m-auto" style="width:40%;border-radius:15px;background-color:azure;border-color:transparent;">
    <div class="card-body m-auto">
        <p><b style="color:red">~~404</b></p>
        <br>
        <br>
        <p class="text-center"><span class="text-center" style="color:magenta;font-family:harrington;zoom:200%"><b> 404 ERROR!!! <br><br>PAGE NOT FOUND</b></span><br></p>
    </div>
</div>

</body>
</html>