<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
    <!-- css and bootstrap links -->
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/style.css">
        <link rel="stylesheet" href="../static/files/css/lightslider.css">
        <!-- supporting js files -->
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <script src="../static/files/js/jquery.js"></script>
        <script src="../static/files/js/lightslider.js"></script>
        <script src="../static/files/js/script.js"></script>
</head>
<body>
{%include 'navbar.html'%}

</body>
</html>