<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css and bootstrap links -->
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/style.css">
        <link rel="stylesheet" href="../static/files/css/lightslider.css">
        <!-- supporting js files -->
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <script src="../static/files/js/jquery.js"></script>
        <script src="../static/files/js/lightslider.js"></script>
        <script src="../static/files/js/script.js"></script><script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>

    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
{%include 'navbar.html'%}
  <div class="row" style="margin-top:2rem;border-radius:15px;">

      <div class="card m-auto d-flex" style="width:fit-content;border-radius:15px;background-color:ghostwhite">
          <form action="" enctype="multipart/form-data" method="post"  class="ui form p-2" style="background-color:transparent;border-color:transparent;border-radius:15px;justify-content:center;width:fit-content">

            <div class="alert alert-info alert-dismissible fade  show bg-light" role="alert" style="height:max-content;border-radius:15px;height:fit-content;width:250px;align-items:; overflow-y:show">
                <h4 class="alert-heading text-center" style="zoom:70%;color:red;margin-top:0">{{ error }}</h4>
                <h4 class="alert-heading text-center" style="zoom:70%;color:red;margin-top:0">{{ Message }}</h4>
            </div>
            <div id="valid" class="text-success"></div>
            <div id="error" class="text-danger"></div>
            <div class="required info field">
                <label for="username">Enter Username</label>
            <input type="text" name="username" required onpaste="userpaste()" oninput="user()"  id="username" placeholder="Enter Your Username" class="form-control"> <br>
            </div>
              <div class="required info field">
            <label for="email">Enter Email</label>
            <input type="email" name="useremail" required id="email" onkeypress="email()" autocomplete="true" placeholder="Enter Email" class="form-control"><br>
              </div>
              <div class="required info field">
            <label for="password">Enter Password <sup id="length" style="font-family:david;color:magenta;font-size:18"></sup></label>
            <input type="password" name="password"  onkeypress="passLength()" required id="password" placeholder="Enter Password" class="form-control"><br>
              </div>
              <div class="required info field">
              <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" enterkeyhint="send" oninput="validate()" required id="confirmPassword" placeholder="Confirm Password" class="form-control"><br>
              </div>
              <div class="required info field">
              <label for="dob">Date of Birth</label>
              <input type="month" name="dateOfBirth" id="dob" required class="form-control" placeholder="Enter date of birth" style="background-color:azure;"><br>
              </div>
              <div class="required info field">
              <input type="file" required  name="file" id="upload" style="display:none" accept="multipart/form-data">
              </div>
              <div class="required info field">
                  <label for="dob">Upload Profile</label>
              <button type="button" onclick="document.getElementById('upload').click()" class="mini ui   button">Upload</button>
              </div>
              <input type="submit" value="Signup" class="ui positive  button m-auto d-flex" style="border-color:transparent">
              <div class="ui horizontal divider">Or</div>
              <a href="/login" class="tiny ui blue button d-flex m-auto" style="justify-content:center">Signin</a>
        </form>

          <script type="text/JavaScript">
              function user(){
              var username=document.getElementById("username").value
              if (username != "Mike"){
              document.getElementById("error").innerHTML="Username is not Valid"
              document.getElementById("valid").innerHTML=" "
              document.getElementById("ProgressInput").value=0
              } else {
              document.getElementById("valid").innerHTML="Username is  Valid"
              document.getElementById("error").innerHTML=""
              }
              return false
              }

              function validate(){
              var password=document.getElementById("password").value
              var confirmPassword=document.getElementById("confirmPassword").value
              if (password != confirmPassword){
              document.getElementById("error").innerHTML="Passwords Do not Match"
              document.getElementById("valid").innerHTML=" "
              } else {
              document.getElementById("valid").innerHTML="Passwords Match"
              document.getElementById("error").innerHTML=""
              }
                 return false
              }

              function passLength(){
              var password=document.getElementById("password").value
              number=8
              length=password.length + 1
              if(password.length <8){
               document.getElementById("error").innerHTML="Passwords Must be altleast 8 characters"
               passlength=number-length
               document.getElementById("length").innerHTML=passlength
               document.getElementById("valid").innerHTML=" "
               } else{
               document.getElementById("valid").innerHTML="Password is strong"
               document.getElementById("error").innerHTML=""
               }
              }

              function userpaste(){
              alert("Paste is not allowed")
              document.getElementById("username").value="Not allowed "
              }



          </script>
    </div>
  </div>
</body>
</html>