<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <!-- css and bootstrap links -->
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/style.css">
        <link rel="stylesheet" href="../static/files/css/lightslider.css">
        <!-- supporting js files -->
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <script src="../static/files/js/jquery.js"></script>
        <script src="../static/files/js/lightslider.js"></script>
        <script src="../static/files/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
</head>
<body>
{%include 'navbar.html'%}
<div class="card m-auto d-flex p-5">
    <div class="ui two column grid">
  <div class="column ">
    <div class="ui raised pink segment">
      <a class="ui red ribbon label">Overview</a>
      <span>Account Details</span>
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
      <a class="ui blue ribbon label">Community</a> User Reviews
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>

        <div class="ui mini  compact menu">
      <a class="item">
        <i class="icon mail"></i> Messages
        <div class="left floating ui red label">22</div>
      </a>
      <a class="item">
        <i class="icon users"></i> Friends
        <div class="right floating ui blue label">22</div>
      </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui pink segment">
      <a class="ui orange right ribbon label">Specs</a>
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>

      <a class="ui teal right ribbon label">Reviews</a>
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>

       <div class="ui mini compact menu">
      <a class="item">
        <i class="icon mail"></i> Messages
        <div class="left floating ui red label">22</div>
      </a>
      <a class="item">
        <i class="icon users"></i> Friends
        <div class="right floating ui blue label">22</div>
      </a>
      </div>

    </div>
  </div>
</div>
</div>


<div class="card m-auto d-flex p-5">
    <div class="ui two column grid">
  <div class="column ">
    <div class="ui raised pink segment">
      <a class="ui red ribbon label">Overview</a>
      <span>Account Details</span>
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
      <a class="ui blue ribbon label">Community</a> User Reviews
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>

        <div class="ui mini  compact menu">
      <a class="item">
        <i class="icon mail"></i> Messages
        <div class="left floating ui red label">22</div>
      </a>
      <a class="item">
        <i class="icon users"></i> Friends
        <div class="right floating ui blue label">22</div>
      </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui pink segment">
      <a class="ui orange right ribbon label">Specs</a>
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>

      <a class="ui teal right ribbon label">Reviews</a>
      <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>
        <p>MIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIkeMIke</p>

       <div class="ui mini compact menu">
      <a class="item">
        <i class="icon mail"></i> Messages
        <div class="left floating ui red label">22</div>
      </a>
      <a class="item">
        <i class="icon users"></i> Friends
        <div class="right floating ui blue label">22</div>
      </a>
      </div>

    </div>
  </div>
</div>
</div>
</body>
</html>