<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <!-- css and bootstrap links -->
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/files/css/style.css">
        <link rel="stylesheet" href="../static/files/css/lightslider.css">
        <!-- supporting js files -->
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <script src="../static/files/js/jquery.js"></script>
        <script src="../static/files/js/lightslider.js"></script>
        <script src="../static/files/js/script.js"></script>
</head>
<body class="p-2">
{%include 'navbar.html'%}

  <div class="row" style="margin-top:2rem;border-radius:15px;">
      <div class="card m-auto d-flex" style="justify-content:center;width:50%;border-radius:15px;background-color:azure;border-color:transparent">
          <form action="" method="post"  class="form-control" enctype="multipart/form-data" style="background-color:azure;border-radius:15px;justify-content:center">
              <p class="text danger"> {{error}} </p>
              <div id="error" class="text-danger"></div>
              <div id="valid" class="text-success"></div>
              <input type="file" name="file" id="upload" style="display:flex">
<!--              <button type="button" onclick="document.getElementById('upload').click()" class="btn btn-success">Upload</button><br><br>-->
              <input type="submit" value="Upload" class="btn btn-warning">
        </form>

          <script type="text/JavaScript">
              function user(){
              var username=document.getElementById("username").value
              if (username != "Mike"){
              document.getElementById("error").innerHTML="Username is not Valid"
              document.getElementById("valid").innerHTML=" "
              document.getElementById("ProgressInput").value=0
              } else {
              document.getElementById("valid").innerHTML="Username is  Valid"
              document.getElementById("error").innerHTML=""
              }
              return false
              }

              function validate(){
              var password=document.getElementById("password").value
              var confirmPpassword=document.getElementById("confirmPpassword").value
              if (password != confirmPpassword){
              document.getElementById("error").innerHTML="Passwords Do not Match"
              document.getElementById("valid").innerHTML=" "
              } else {
              document.getElementById("valid").innerHTML="Passwords Match"
              document.getElementById("error").innerHTML=""
              }
                 return false
              }

              function passLength(){
              var password=document.getElementById("password").value
              number=8
              length=password.length + 1
              if(password.length <8){
               document.getElementById("error").innerHTML="Passwords Must be altleast 8 characters"
               passlength=number-length
               document.getElementById("length").innerHTML=passlength
               document.getElementById("valid").innerHTML=" "
               } else{
               document.getElementById("valid").innerHTML="Password is strong"
               document.getElementById("error").innerHTML=""
               }
              }

              function userpaste(){
              alert("Paste is not allowed")
              document.getElementById("username").value="Not allowed "
              }



          </script>
    </div>
  </div>
</body>
</html>